# VSCode Backup files
**/*.rs.bk
# Cargo target directory
/target

# Debug output
1.txt

# Output artifacts
# - Compiled object files
example_code/*.o
example_code/*.obj
example_code/*.ilk
example_code/*.exe
example_code/*.pdb
# - Raw IR
example_code/*.moss_ir
# - SSA IR
example_code/*.moss_ssa